body {
    font-family: Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 250px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: slategray;
}

.lineone, .linetwo, .linethree, .linefour, .calbody{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px 
}

input[type="button"] {
    width: 40%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid dimgray;
}